

.container {
    background: url("./../../src/img/home.png") center center no-repeat fixed;
    background-size: cover;
    height: 100%;
    padding: 0;
    margin: 0;

    & .remetentes__title {
        font-size: 0.875rem;
        font-weight: bold;
        color: #000;
    }

    & .creditos__title {
        font-size: 0.875rem;
    }

    & .home .section {
        width: 80%;
        margin: 0 auto;
        margin-top: 50px;
        background-color:  #fff;
        height: 250px;
        border-radius: 2px;

        @media (max-width:350px){
            width: 100%;
    
            
        }

       

        & .remetentes,
        & .creditos {
            margin-top: 10px;
        }

        & .remetentes ul, 
        & .creditos ul {
            margin-left: 30px;
            margin-top: 10px;
        }

        & .remetentes li, 
        & .creditos li {
            list-style: disc;

            & a {
                text-decoration:  none;
                color: #000;
                font-size: 0.875rem;
                font-weight: normal;
                cursor: pointer;
            }

            & p {
                color: #000;
                font-size: 0.875rem;
                font-weight: normal;
            }
        }
        
       
    }

}

.container .home-box {

    display: flex;
    justify-content: space-evenly;

}

.licenca {
   
    text-align: center;
    margin-top:  111px;
    
}

.licenca p:first-child {
    font-size: 0.875rem;
    font-weight: bold;
    display: inline-block;
}
.licenca p:last-child {
    font-size: 0.875rem;
    font-weight: normal;
    
}

.licenca-value {
    display: inline;
    font-size: 18px;
}


.container .client-delivery {
    width: 80%;
   
   
}

.container .client-delivery-btn--main {
    font-size: 0.875rem;
    height: 36px;
}

.container .caret {
    right: 12px;
}

.container ul.client-delivery-btn {
    width: 100%;
    padding-left: 20px;
    height: 250px;
    background-color: #fff;
    overflow-y: scroll;
    margin-bottom: 0;

    & li {
        
        list-style: disc;
    }
}













.request {
    // min-width: 280px;

    & ul {
        background-color: #eaeaea;

        & li {
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 12px;
        }



        & ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }


    &-btn {
        display: flex;
        width: 100%;
        height: 39px;
        margin-top: 8px;
        justify-content: space-between;
        align-items: center;
        color: #000;
        cursor: pointer;

        & p {
            font-size: 12px;
        }

        & p:first-child {
            padding-left: 12px;
        }
        
        & p:last-child {
            padding-right: 24px;
        }

    }
}



.request-list {
    &--icon-red::after {
        content: "";
        display: inline-block;
        background: url("./../../src/img/circle-check-solid-red.png");
        width: 21px;
        height: 21px;
        line-height: 21px;
        float: right;
        margin-right: 21px;
    }

    &--icon-green::after {
        content: "";
        display: inline-block;
        background: url("./../../src/img/circle-check-solid-green.png");
        width: 21px;
        height: 21px;
        line-height: 21px;
        float: right;
        margin-right: 21px;

    }
}



.green {
    background-color: #47d72f;
}

.red {
      background-color: #ff0000;
}

.black {
    background-color: #000000;
    color: #fff;
}


.transparent {
    background-color: transparent;
}









