

.sms-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 35px;
}


#sms-create-list {
    background-color: #000;
   
}
.sms-section-btn {
    width: 112px;
    height: 29px;
    line-height: 29px;
    display: inline-block;
   box-shadow: 1px 1px 1px black;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}


.sms-section-btn a {
    display: block;
    line-height: 10px;
    color: #fff;
    text-transform: uppercase;
}


.sms-checkbox {
    width: 26px;
    height: 23px;
    line-height: 23px;
    margin-right: 5px;
   
}


//sms agendadas
.sms-agendadas {
    width: 112px;
  height: 29px;
  line-height: 29px;
  display: inline-block;
  box-shadow: 1px 1px 1px gray;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 20px;

}
















